.blog-post{
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  max-width: 500px;
  margin: 20px auto 0px;
  padding: 30px 20px 25px;
  border: 1px solid rgb(73, 127, 163);
}
.blog-post__title{
  text-align: start;
  margin-bottom: 20px;
}
.blog-post__item{
  width: calc(100% - 40px);
  min-width: 400px;
}

.blog-post__wrapper-comment-block{
  width: calc(100% - 40px);

}
.blog-post__comments-list{
  display: flex;
  width: 100%;
  flex-direction: column;
  /* background: chocolate; */
}

.blog-post__comments-list p {
  margin-block-start: 10px;
  margin-block-end: 10px;
}
.blog-post__comments-list:nth-last-child(n){
  margin-bottom: 15px;
}

.blog-post__comments-list__item{
  margin-bottom: 10px;
}

.comments-list__item__text-block{

}
.comments-list__item__btn-block button {
  display: flex;
  margin-left: auto;
}

.blog-post__form-add-comment{
  width: 100%;
  /* height: 100px; */
  margin-bottom: 20px;
}

